body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19;
  overflow-x: hidden;
}
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: -0.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  width: 96%;
  box-sizing: border-box;
}

.container-article {
  margin-bottom: 7vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8%;
  -webkit-box-shadow: 0px 0px 60px -30px rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0px 0px 60px -30px rgba(34, 34, 34, 0.5);
  box-shadow: 0px 0px 60px -30px rgba(34, 34, 34, 0.5);
}

.container-article-header {
  position: relative;
  color: #eeeeee;
  font-weight: 800;
  margin: 0px;
  font-size: 46px;
  text-align: center;
}

.top-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 47vw;
  min-height: 600px;
  background-color: black;
  z-index: -1;
}

#menu-toggle {
  font-size: 50px;
  margin-top: 25px;
  cursor: pointer;
  height: 60px;
}

#menu-register {
  display: none;
}

.navbar {
  color: white;
  justify-content: space-between;
  display: flex;
  font-size: 19px;
  height: 130px;
}

.fullheight {
  height: 100% !important;
}

.navbar-menu li:first-child {
  padding-left: 0px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0px;
  background-color: #000000;
}

.navbar li {
  width: 100%;
  padding: 20px;
  text-decoration: none;
  list-style-type: none;
}

.register-button {
  border: none;
  background-color: #2e2e2e;
  font-size: 19px;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
}

.product-course-container .header {
  margin-top: 3.4vw;
  font-size: 2rem;
  margin-bottom: 0px;
}

.product-course-container .subheader {
  font-size: 1.5rem;
  margin-top: 1.6vw;
  margin-bottom: 0px;
}

.product-course-container section {
  width: 100%;
  text-align: center;
}

.product-course-container .text-section span {
  display: flex;
  font-size: 1rem;
  margin-top: 6vw;
  margin-bottom: 5.2vw;
  line-height: 25px;
}

.start-register-button {
  border: none;
  background-color: #f46632;
  color: white;
  font-size: 1.1rem;
  padding: 1.5vw 7.8vw;
  border-radius: 20px;
  margin-bottom: 20px;
}

.product-course-container .picture-section {
  padding-right: 2%;
  padding-left: 3.4%;
}

.container-product-factory {
  margin-top: 11.4vw;
  padding-top: 4vw;
  padding-bottom: 5vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-translated-image {
  height: 30vw;
  max-height: 200px;
  width: 100%;
  transform: translate(0, -14vw);
}

.container-product-factory .section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.section-header .icons {
  margin: 20px 0px;
}

.container-product-factory .section-text {
  width: 100%;
  font-size: 1rem;
}

.container-text {
  line-height: 25px;
}

.container-experience {
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vw 9%;
  font-size: 1rem;
}

.experience-image {
  width: 370px;
  max-width: 100%;
  float: left;
  margin-right: 60px;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #000000;
  background-color: black;
  font-size: 1rem;
  border-radius: 15px;
  overflow: hidden;
}
.wrapper .option {
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  /* border: 1px solid #000000; */
  margin: 1px 0px;
  padding: 10px 0px;
}
.wrapper .option:nth-of-type(1) {
  margin-top: 0px;
}
.wrapper .option:last-child {
  margin-bottom: 0px;
}
input[type="radio"] {
  display: none;
}
#after:checked:checked ~ .option-1,
#during:checked:checked ~ .option-2,
#before:checked:checked ~ .option-3 {
  background: #000000;
  color: white;
}

footer .icons {
  margin-left: 30px;
}

footer .section-icons {
  display: flex;
  justify-content: center;
}

footer .container {
  text-align: center;
}

footer section {
  margin: 20px;
}
.topText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  color: black;
  font-size: 18px;
  inline-size: fit-content;
}
.section-select {
  margin: 32px 0px;
}

.fullwidth-article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 7vw 0px;
  margin-bottom: 7vw;
  background-color: rgb(255, 255, 255);
}

.fullwidth-article-black {
  background-color: rgb(0, 0, 0);
  margin-bottom: 0px !important;
  margin: -0.5rem;
}

.container-request {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
}
.container-request section {
  font-size: 20px;
  line-height: 40px;
}
.container-request .header {
  font-size: 2rem;
}
.container-request .text-section {
  position: relative;
  z-index: 100;
}
.container-request .picture-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-request .picture-section > div {
  margin-right: 10%;
}

.container-request .picture-section .back {
  position: absolute;
  transform: translate(-47%, -30%) !important;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.container-request .picture-section .fornt {
  display: none;
}

.container-request .form-email {
  border: none;
  margin: 40px 0px;
  width: 180px;
  max-width: 100%;
  height: 62px;
  border-radius: 15px;
  background-color: #2e2e2e;
  font-size: 22px;
  color: white;
  padding: 0px 40px;
}
#emailResponseInfo {
  font-size: 14px;
}
#emailResponseInfo .dot {
  float: left;
  padding: 0px 12px;
}
.container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1rem;
  padding: 20px;
}

.container-project section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container-project .section-header {
  width: 100%;
  padding-bottom: 32px;
  justify-content: center;
}
.container-project section span {
  font-size: 22px;
  line-height: 40px;
}
.container-project header {
  padding-bottom: 16px;
}
.container-project .header {
  font-size: 2rem;
}
.points {
  margin: 16px 0px;
  font-size: 20px;
  padding-right: 50px;
  display: -webkit-box;
}
.counter {
  margin: 16px 0px;
  background-color: #f5f5f5;
  border-radius: 15px;
  font-size: 1.3rem;
  padding: 12px 20px;
}
.dot {
  background-color: #29d089;
  border-radius: 50%;
  display: inline-block;
  margin-right: 25px;
  color: white;
  padding: 0px 9px 4px 8px;
}

.header .dot {
  background-color: rgb(0, 0, 0);
  padding: 0px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.section-preview {
  justify-content: center;
}

.preview-container {
  position: relative;
  width: 360px;
  height: 50px;
}

.preview-shadow {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 60%;
  background-color: #f5f5f5;
  border-radius: 25px;
}
.preview-look {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 60px -30px rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0px 0px 60px -30px rgba(34, 34, 34, 0.5);
  box-shadow: 0px 0px 60px -30px rgba(34, 34, 34, 0.5);
}
.preview-buttons {
  position: absolute;
  font-size: 36px;
  padding: 11px 26px;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}
.prev {
  left: 0px;
}
.next {
  right: 0px;
}
.preview-shadow {
  display: none;
}
.preview-look {
  display: none;
}

@media (min-width: 1530px) {
  .preview-container {
    width: 610px !important;
    height: 711px !important;
  }
  .counter {
    margin-top: 96px !important;
  }
  .container-project header {
    padding-bottom: 64px !important;
  }
  .container-project {
    padding: 0px;
  }
  .fullwidth-article {
    padding: 110px 0px;
    margin-bottom: 120px;
  }
  .top-background {
    height: 720px !important;
  }
  .container {
    width: 100% !important;
    max-width: 1460px;
  }
  .container-product-factory .section-header {
    margin-bottom: 60px;
  }
  .product-course-container {
    margin-bottom: 120px !important;
    padding: 130px !important;
  }
  .product-course-container .header {
    margin-top: 60px !important;
    font-size: 50px !important;
    margin-bottom: 0px;
  }
  .product-course-container .subheader {
    font-size: 38px !important;
    margin-top: 20px !important;
  }
  .product-course-container .picture-section {
    padding-right: 30px !important;
    padding-left: 50px !important;
  }
  .product-course-container .text-section span {
    font-size: 23px !important;
    line-height: 55px !important;
    margin-top: 100px !important;
    margin-bottom: 80px !important;
  }
  .start-register-button {
    font-size: 24px !important;
    padding: 24px 120px !important;
  }
  .section-translated-image {
    transform: translate(0, -220px) !important;
  }
  .container-product-factory {
    margin-top: 150px !important;
    margin-bottom: 120px !important;
    padding: 65px 130px !important;
  }
  .container-experience {
    padding: 40px 140px 85px 140px !important;
  }
  .wrapper {
    width: 1050px !important;
  }
  .container-article {
    margin-bottom: 120px !important;
  }
  .container-article-header {
    font-size: 120px !important;
  }
  .topText {
    font-size: 32px !important;
  }
}

@media (min-width: 458px) {
  .container-article-header {
    font-size: 64px;
  }
  .container-request .form-email {
    width: 280px;
  }
  .preview-container {
    position: relative;
    width: 360px;
    height: 421px;
  }
  .preview-buttons {
    top: 85%;
  }

  .preview-shadow {
    display: block;
  }
  .preview-look {
    display: block;
  }
  .section-email {
    height: 50px;
  }
}

@media (min-width: 768px) {
  #emailResponseInfo {
    font-size: 22px;
  }

  .header .dot {
    width: 28px;
    height: 28px;
  }

  .section-preview {
    margin-top: 32px;
    justify-content: flex-end;
  }
  .preview-container {
    width: 39vw;
    height: 44vw;
  }
  .counter {
    font-size: 34px;
    padding: 24px 64px;
    margin-top: 32px;
  }
  .points {
    margin: 32px 0px;
  }
  .container-project header {
    padding-bottom: 32px;
  }
  .container-project .header {
    font-size: 38px !important;
    padding-bottom: 32px;
  }
  .container-project section {
    width: 50%;
  }
  .container-request .form-email {
    width: 550px;
  }
  .product-course-container {
    flex-wrap: nowrap;
  }
  .product-course-container section {
    width: 50%;
  }
  .section-translated-image {
    width: 60%;
  }

  .container-article-header {
    font-size: 7.8vw;
  }
  .topText {
    font-size: 2vw;
  }

  .container-product-factory .section-header {
    margin-top: 0;
    width: 40%;
  }
  .container-text {
    line-height: 50px;
  }
  .container-product-factory .section-text {
    font-size: 19px !important;
  }
  .container-experience {
    font-size: 20px !important;
  }
  .container-request {
    font-size: 20px !important;
  }
  .product-course-container section {
    text-align: start;
  }
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 650px;
  }
  .container-experience .section-select {
    margin: 64px;
  }
  .wrapper .option {
    margin: 0px 1px;
  }
  .wrapper .option:nth-of-type(1) {
    margin-left: 0px;
  }
  .wrapper .option:last-child {
    margin-right: 0px;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
  }

  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .container-request .header {
    font-size: 34px;
  }
}
@media (min-width: 1000px) {
  .container-request .picture-section .back {
    display: block;
    transform: translate(-32%, -30%) !important;
  }
  .container-request .picture-section .fornt {
    display: block;
  }
  .container-request section {
    width: 50%;
  }
  .navbar li {
    display: block;
  }
  .container-product-factory .section-header {
    padding-left: 2%;
    margin-bottom: 40px;
  }
  .product-course-container .header {
    font-size: 3.3vw;
  }
  .product-course-container .subheader {
    font-size: 2.5vw;
    margin-bottom: 24px;
  }
  .product-course-container .text-section span {
    font-size: 1.53vw;
    line-height: 3.8vw;
  }
  .start-register-button {
    font-size: 1.6vw;
    padding: 1.5vw 7.8vw;
    border-radius: 20px;
    margin-bottom: 0px;
  }
  .wrapper {
    height: 50px;
    width: 800px;
    font-size: 1.1;
  }
  #menu-toggle {
    display: none;
  }
  #menu-register {
    display: flex;
  }
  .navbar ul {
    align-items: center;
  }
  .navbar li {
    width:auto;
  }

}
